%html
  %head
    %title Asinbow's playground
    :css
      #message-container{
        height: 400px;
        max-width: 500px;
        margin: 15px 0;
        padding: 10px 10px;
        border: solid 5px green;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #F0F0F0;
        box-shadow: 5px 5px 5px gray;
        border-radius: 10px 20px;
      }
      .message-item{
        margin: 5px 5px;
        padding: 5px 5px;
        width: 470px;
        word-break: hyphenate;
        border-radius: 5px 5px;
        background-color: #E0E0E0;
        box-shadow: 3px 3px 5px gray;
      }
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    :javascript
      $(document).ready(function(){
        function debug(str){ $("#debug").append("<p>"+str+"</p>"); };
        function message(str){
          var message_container = $("#message-container")
          var height = message_container.attr("scrollHeight");
          message_container.append("<p class=\"message-item\">"+str+"</p>");
          message_container.attr({scrollTop: height});
        };
        function handle(data){
          var user_sigature=data[0];
          switch(data[1]){
          case 1: message(user_sigature + "登录了。");break;
          case 2: message(user_sigature + "下线了。");break;
          case 3: message(user_sigature + "说：" + data[2]);break;
          case 4: break;
          default: debug(user_sigature + ": unknow command" + data);break;
          }
        };
        ;
        ws = new WebSocket("#{ws_url}");
        ws.onmessage = function(evt){
          handle(JSON.parse(evt.data));
        };
        ws.onopen=function(){
          //debug("connected...");
          //ws.send("hello server");
          $("input").show().focus();
          $("input").keypress(function(e){
            if(e.which==13){
              if (this.value.length>0){
                ws.send(JSON.stringify([3, this.value]));
                this.value = '';
              }
            }
          });
        };
        ws.onclose=function(){ debug("socket closed"); };
        
      });
  %body
    #message-container
    %input{:hidden => true}
    #debug


